label {
  display: block;
  font-weight: 700;
  margin: 0 0 var(--gutter) 0;
}

[role="radiogroup"] > span {
  display: block;
  margin-right: var(--gutter);
  display: flex;
  align-items: center;
}

[role="radiogroup"] > span:last-child {
  margin-right: 0;
}

[role="radiogroup"] > span label {
  margin-left: calc(var(--gutter) / 6);
}
