nav {
  background-color: rgba(var(--color--dark-gray), 1);
  padding: var(--gutter);
}

nav > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

nav > ul > li {
  margin: 0 calc(var(--gutter) / 3) 0 0;
}

nav > ul > li:first-child {
  margin: 0 var(--gutter) 0 0;
}

nav > ul > li:first-child > a {
  background-color: transparent;
}
nav > ul > li > a:focus {
  outline: 2px solid rgba(var(--color--white), 1);
}

nav > ul > li:first-child > a > svg > path {
  fill: rgba(var(--color--white), 1);
}

nav > ul > li > a {
  border-radius: var(--radius);
  padding: calc(var(--gutter) / 3);
  display: block;
  color: rgba(var(--color--white), 1);
}

main {
  padding: var(--gutter);
}
