.tabpanel .fui-Tab,
.tabpanel [role="tabpanel"] {
  padding: calc(var(--gutter) / 3);
}

.tabpanel .fui-Tab:focus {
  outline: 2px solid rgba(var(--color--dark-blue), 1);
  border-radius: 4px;
}

.tabpanel .fui-Tab[aria-selected="true"] {
  border-bottom: 4px solid rgba(var(--color--dark-blue), 1);
}

.tabpanel [role="tabpanel"]:focus {
  outline: 2px solid rgba(var(--color--dark-blue), 1);
  border-radius: 4px;
}
